Dear {{first_name}} {{last_name}},
<br><br>
Thank you for choosing Hotel City Savoy! Your request is successfully received.
<br><br>
Please wait for reservation confirmation.
<h3>Your Reservation ID: {{reservation_id}}</h3>
If you need some more informations, please fill free to contact us:<br>
Reception: +381 11 324 02 00<br>
Fax: +381 11 3240 250<br>
Email: reception@hotelcitysavoy.com
<br><br>
Sinceriously,<br>
Hotel City Savoy