Hi {{ name }}!
<br><br>
Thanks for registering on Mojrokovnik application.
<br><br>
To activate your account, please go to <a href="{{ absolute_url(confirmation_url) }}">confirmation link</a>.
<br><br>
Best,
Mojrokovnik Team!
